
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  rgba(230, 220, 170, 0.966);
}

        .background{
            background-size:800px;
            background-repeat:repeat;
            background-position:bottom ;
            height: 300px;
            width: 3000px;
        }
        
nav {
    background-color: rgb(235, 231, 213);
    overflow: hidden;
}

nav a {
    font-size:large;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    text-align: right;
    float:right;
    color: rgb(207, 196, 39);
    background: rgba(230, 220, 170, 0.966);
}

main {
    background-color: rgb(207, 196, 39);
    text-align: center;
}


.container{
    position: relative;
    text-align: left;
    color: rgb(19, 19, 18);
    
}

.text{
    font-size:xx-large;
    position: absolute;
    top: 50% ;
    left: 20%;
    transform: translate(-50%,-50%);
}

section:nth-child {
    background-color: rgb(207, 196, 39);
}

section {
    min-height: 30vh;
}

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: rgb(236, 233, 201);
    color: rgb(207, 196, 39);
    line-height: 1.5;
  }
  footer .ft-legal a{
    text-decoration: none;
    color:#fff;
  }
  footer .ft-main-item a{
      text-decoration: none;
      color: rgb(207, 196, 39)
  }
  a:hover {
    text-decoration:double;
  }
  .ft-title {
    color:  rgb(207, 196, 39);
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
    .ft-main {
      justify-content: space-evenly;
    }
    .ft-main {
      justify-content: space-evenly;
    }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color:  rgb(207, 196, 39);
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }
